@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // Header
  --header--hero-title: rgb(35, 35, 35);
  --header--hero-subtitle: rgb(65, 65, 65);
  
  --error: #EF4444;
  --confirm: #22C55E;
}


* { font-family: "Montserrat", "Titillium Web", sans-serif; }

body {
  margin: 0;
  padding: 0;
}