@import "mixins";

.Header {
  width: 80cqw;
  height: fit-content;
  margin: 2rem auto;

  @include flex(column);

  background-color: whitesmoke;
  border-radius: 1rem;

  .header--hero {
    width: 100%;
    height: 100%;
    padding: 4rem 3rem;

    @include flex(column);

    color: var(--header--hero-title);
    font-size: 2rem;
    line-height: 2.25rem;

    background-image: url("../public/images/header_background.jpg");
    background-size: cover;
    background-position: center;
    border-radius: inherit;

    h1, h2 {
      padding: 0;
      height: fit-content;
      white-space: nowrap;
      padding: 0 0.5cqw;
      border-radius: 1rem;
      background-color: white;
    }

    .header--hero-title {
      font-size: 2.5cqw;
      font-weight: 700;
      line-height: 2.5cqw;
    }

    .header--hero-subtitle {
      color: var(--header--hero-subtitle);
      font-size: 1.25cqw;
      font-weight: 500;
      line-height: 1.75cqw;
    }
  }
}
