@import "mixins";

.Header {
  width: 85vw;
  height: fit-content;
  margin: 4cqw auto 2cqw auto;

  @include flex(column);

  background-color: whitesmoke;
  border-radius: 1rem;

  .header--hero {
    width: 100%;
    height: 100%;
    padding: 2vw 3rem;

    @include flex(column);

    color: var(--header--hero-title);
    font-size: 2rem;
    line-height: 2.75cqw;

    background-image: url("../public/images/header_background.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 1cqw;

    h1, h2 {
      padding: 0 0.75vw;

      white-space: nowrap;
      background-color: white;
    }

    .header--hero-title {
      font-size: 3cqw;
      font-weight: 700;
      z-index: 2;
    }

    .header--hero-subtitle {
      color: var(--header--hero-subtitle);
      font-size: 1.5cqw;
      font-weight: 500;
      z-index: 1;
    }
  }

  @media only screen and (max-width: 1000px) {
    .header--hero { padding: 3.5vw 3rem; } 
  }
  
  @media only screen and (max-width: 600px) {
    width: 90vw;
    
    .header--hero {
      padding: 6vw 3rem;
      .header--hero-title { font-size: 4.5cqw; }
      .header--hero-subtitle { display: none; }
    }
  }
}
